* {
    cursor: none;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

main {
    overflow: hidden;
}

main,
div {
    position: absolute;
}


.jogador {
    background-image: url(personagem-pulando.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center bottom;
}

.plataforma {
    overflow: visible;
    background: none;
}

.plataforma::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: calc(100% + 20px);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    pointer-events: none;
    z-index: -1;
}

.plataforma-pulante::before {
    background-image: url(plataforma-comum.png);
}

.plataforma-trampolim::before {
    background-image: url(plataforma-trampolim.png);
}

.plataforma-quebrante::before {
    background-image: url(plataforma-quebrante.png);
}

.plataforma-espinho::before {
    background-image: url(plataforma-com-espinhos.png);
}

.estagio {
    background-image: url(bolhas.png);
    background-repeat: repeat;
    background-position: left bottom;
    background-size: 100px 100px;
    z-index: -1;
}

.pontuacao {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    background-color: black;
    padding: 5px 10px;
}

.tela-fim {
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.tela-fim button {
    background-color: yellow;
    padding: 15px 30px;
}

.placar-texto {
    color: aqua
}